<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="szellem.css">
    <title>Japán szellemek, démonok</title>
</head>
<body>
<p>
    A jókai (kiejtés:yōkai) fordítása démon, szellem vagy szörny a természetfölötti teremtmények gyűjtőfogalma a japán folklórban.
    Szokták mononokénak, vagy obakénak nevezni őket.
    Ám ez utóbbit, inkább egy, a jókai-okon belüli csoportként értelmezik, mindazonáltal szintén rokonértelmű kifejezés.
</p>

<h1>Áttekintés</h1>
<p>
    A jókai egységesen magába foglalja a gonosz onitól (emberevő óriás) kezdve a csintalan kicunen (ravaszdi rókaszellem) át egészen a Juki-onnaig (hószellem) mindent.
    Egyik típusuk a félig állat félig ember lények (pl. Kappa és Tengu). A jókaik talán egyetlen közös jellemzője, hogy természetfeletti hatalommal rendelkeznek.
    A jókaik egy bizonyos része messze elkerüli az emberekkel való érintkezést, és az emberi lakóhelyektől távol, elszigetelten él. Mások viszont kimondottan emberek közt tanyáznak, általában egy épülethez vagy konkrét személyhez való kötődésük miatt.
    Sok esetben átveszik egy lázas ember teste felett az uralmat. A jókaihoz hagyományosan köthető a tűz, az északkeleti irány, és a nyári évszak, amikor megerősödik kapcsolatuk a Földdel. Rendszerint rettenetes, vagy mulatságos külsővel rendelkeznek.
    Az emberi fegyverekkel többségüket képtelenség megsebesíteni vagy elpusztítani. De a sintoista ördögűzők  vagy a buddhista szerzetesek rendelkeznek a kellő erővel, hogy felvegyék a harcot velük szemben.
</p>

<h1>Típusok</h1>
<p>
A japán mondavilág bővelkedik a jókaikban. Ez a fogalom tulajdonképpen magába foglal minden, természetfeletti hatalommal bíró lényt, szörnyeteget vagy különös teremtményt. Japánban még az európai folklór alakjait is ezzel a szóval jellemzik.
Nem ritka, hogy európai eredetű mitológiai lények mostanra a japán mesevilág szerves részét képezik, a köztudatba olyan módon beleivódva, hogy arra annak sajátosságaként tekintenek. Nincs egységes kategorizálása a jókaiknak, itt hét típusra osztva mutatjuk be őket.
</p>
<h2>Júrei</h2>
<p>
    A jókaikon belül egy csoport. Lényegében azonosak a nyugati világ szellemeivel. Maga a szó, alakját tekintve két kandzsiból áll, úgy mint  (jú) "gyenge" vagy "tompa" és  (rei) mint "lélek". Alternatív elnevezései több más jelentéseket hordoznak, a (bórei) például elhagyott vagy tönkretett lelket jelent.
    A  (sirjó) pedig halott szellemet, de ott van még a jókai, vagy az obake, amiken belül külön csoportot alkotnak.
    A júrei tulajdonképpen olyan lélek, amely valamilyen okból kifolyólag képtelen átkelni a túlvilágra.
</p>

<h2>Tanuki</h2>
<p>
    Tanuki,  magyarul japán nyestkutya. Nyugaton gyakorta nézik borznak vagy mosómedvének. Pedig e kettővel ellentétben általában szerencsét hoz, vidám és pajkos. Egész Japán-szerte gyakoriak a tanuki szobrok, templomok, szentélyek, éttermek és különösen tészta boltok bejáratainál.
    Gyakran van ezeken hatalmas, kúp alakú kalap, kanna a kezükben, vagy szaké az egyik, váltó, esetleg üres pénztárca a másik kezükben. A hagyományos tanuki ábrázolásokon azonban rendszerint nagy kerek hassal és hatalmas földig érő herékkel ábrázolják őket. Amit a hátukra vetnek, mint utazó a poggyászát, vagy dobként használják.
    Ez a mulatságos ábrázolásmód a Kamakura-korban alakult ki. Újabban készültek olyan megjelenítések is, ahol a heréik helyett a hasukon dobolnak. Japánban november 8-át a tanukik ünnepévé nyilvánították, mivel a tanukik nyolc különleges jellemvonással és tárggyal rendelkeznek, amelyek szerencsét hoznak, és a császár is ebben a hónapban teszi híres látogatását.[8]
    Nyolc szerencsés jellegzetessége az alábbi:
    1. Egy olyan bambuszkalap, ami megvéd a bajjal szemben.
    2.Nagy szemek, amivel észlelni lehet a környezetet és segít meghozni a jó döntéseket.
    3.Az erényt jelképező szakés palack.
    4.Nagy farok, ami állhatatosságot és erőt ad, segít a sikerekben.
    5.A hatalmas herék, szerencsét jelentenek a pénzügyi életben.
    6.Egy értékpapír, a bizalom szimbóluma.
    7.A nagy has merész határozottságot jelképez.
    8.A barátságos mosoly.
    A Kamakura- és Muromacsi-korból fennmaradtak tanukikról olyan mondák is, ahol vészjósló gonosz alakként jelennek meg.
</p>
<h2>Kicune</h2>
<p>
    A Kicune (ejtés:ki·cu·ne) szó japánul annyit tesz, róka. A japán nyelvben rendszerint ezzel a fogalommal jelölik a róka szellemeket is a hétköznapi rókák mellett. Az ősi időkben minden rókának spirituális erőt tulajdonítottak. Ezért nincs semmilyen nyelvi elkülönítés sem. Úgy tartották, egy róka százéves korától válik képessé az alakváltásra, ekkor tesz szert spirituális erőre.
    A kicune mondák kialakulásában legfőbb szerepet az játszik, hogy az ősi Japánban a rókák az emberek közelében éltek. Hagyományosan a rókákat tekintették az Inari nevű sintoista kamik hírvívőinek. Ezáltal megnőtt természetfölötti jelentőségük a köztudatban. Elsődleges tulajdonságukként az emberré változást szokták megemlíteni. Minél több farka van, annál bölcsebb, öregebb és hatalmasabb egy kicune.
    A legidősebb és legkiválóbb rókák a kilenc farkúak, társaik közt is a legmegbecsültebb egyedek. Néhány népmese azt mondja, hogy egy róka csak akkor tud további farkakat növeszteni, miután élt 1000 évet. Az egy, öt, hét, és kilenc farok a leggyakoribb a történetekben. Állítólag mikor egy rókának kinő a kilencedik farka, fehérré vagy arany színűvé válik a bundája.
    Bizonyos esetekben a kicunének emberré változásának ideje alatt is megmarad a farka. A történetek igen intelligens és bölcs lényekként ábrázolják őket, ami koruk előrehaladtával csak gyarapodik. Sok történet ravaszdi alakként mutatja be a kicunét, aki alakváltó képességével rászedi az embereket. Máshol azonban úgy festik le, mint hűséges őrzőt, barátot, szeretőt vagy éppen feleséget.
    Számtalan legendában a kicune megszállja egy nő testét vagy átváltozik azzá. Ilyen formában meghódít egy férfit, bűbájt bocsátva rá, és megtréfálja azt. Ám ha ekkor a mit sem sejtő ember feleségül veszi a rókát, szerető asszonyként fog viselkedni az, egészen addig, amíg ki nem derül valódi kiléte.
</p>
<h2>Hebi</h2>
<p>
    A Hebi,  szó szerint kígyót jelent. Japánban rengeteg dolgot tartottak mitológiai eredetűnek. A kígyók is ilyenek, több történet szereplői. Úgy gondolták, hogy a nőkkel szorosan összefüggenek. Két fajta hebit különböztethetünk meg egymástól, jóságost, és gonoszt. Az egyik monda, például azt meséli el, hogy egy kígyó asszony él a tenger mélyén, palotájában, aki az óceán istenének lánya.
    S ha férfiember találkozik vele, odaadó és gondoskodó feleség válik belőle. Aztán mikor az ember visszatér a világába, különleges hatalmakat és gazdagságot ad neki. Egy legenda, az "Urasima Taró", amit Japánban már a kisiskolások is ismernek, egy másik hebit mutat be. A történet egy fiatal halászlegényről szól, aki egy éjszaka a viharban halászva kifog egy tarka teknőst.
    A teknős könyörög az életéért, a halásznak megesik rajta a szíve. Ezért az állat leviszi a fiút a tenger mélyére, a kígyó asszony palotájába. Aki feleségül megy a legényhez, ám arra három év elteltével rátör a honvágy. Így hitvese ad neki egy ékszeres dobozt, de a lelkére köti, semmilyen körülmények közt ne nyissa ki azt. Eztán a teknősbéka visszaviszi a halászt a falujába.
    Ám megdöbbenve tapasztalja, hogy a boldog három év valójában három évszázad volt. Majd kinyitja a dobozt, a haja hirtelen megőszül, a bőre összesorvad, és teljesen elporlad a teste. A kígyólegendák, ma már nem olyan népszerűek, mint évszázadokkal ezelőtt, de sok helyütt fent maradtak a köztudatban.
</p>

</body>
</html>